altgraph
certifi==2022.12.7
charset-normalizer==3.0.1
DateTime==5.0
future
idna==3.4
macholib
psycopg==3.1.8
psycopg2==2.9.5
pyodbc==4.0.35
pytz==2022.7.1
random2==1.0.1
requests==2.28.2
schedule==1.1.0
six
typing_extensions==4.5.0
urllib3==1.26.14
zope.interface==5.5.2
